@charset "UTF-8";

.camera{
    background: url("../img/bg.jpg");
}

/*一级导航*/

.weather-header .nav-tabs {
    position: absolute;
    left: 20px;
    border-bottom: 0px solid #ddd;
    height: 92px;
	margin-top: -35px;
}
.weather-header .nav-tabs li{
    width: 180px;
    height: 60px;
    border-radius: 4px;
    background-color: transparent;
}
.weather-header .nav-tabs li a{
    color: #ffffff;
    border-radius: 4px;
    background-color: transparent;
}
.weather-header .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #ffffff;
	cursor: default;
    background-color: #002b6f;
    border: 0px solid #ddd;
}


.camera-title{
	text-align:center;
	color:white;
	font-family:MicrosoftYahei;
	font-size:30px;
	margin-top: 14px;
}


.camera-table .table {
    width: 90%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #dddddd;
	background-color:white;
}
.camera-table .table thead tr{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #60c7d0;
    color: #fff;

}
.camera-table .table thead tr th{
    text-align: center;
}

.camera-table .table tbody tr{
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.camera-table .table tbody tr td{
    text-align: center;
}
.camera-table .table tbody tr td input{
    margin-top: 0px;
}

.camera-button{
    margin-top: 30px;
	margin-left: 940px;
}

.camera-button button{
    width: 74px;
    height: 30px;
    line-height: 16px;
    margin-left: 10px;
}

.camera-button button a{
    color: #fff;
    text-decoration: none;
}

.camera-search{
	color:white;
	font-family:MicrosoftYahei;
	margin-bottom: -66px;
    margin-top: 30px;
}

.camera-foot{
	float: right;
    height: 30px;
    margin-top: 30px;
    line-height: 30px;
    padding-right: 10%;
	color:white;
}

.camera-foot .pageindex{
	float: left;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
}

.camera-foot .pager{
    float: left;
    padding-left: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

.camera-foot .pager li > a, .camera-foot .pager li > span {
    display: inline-block;
    padding: 0px 14px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0;
}