@charset "UTF-8";


/*右侧iframe*/
.iframex{
    /*padding: 0;*/
    margin-left: 40px;
   /* opacity: 0.1;*/
}

.weather1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
     background-color: transparent;
    margin-left: 40px;
    margin-top: 30px;
}
.weather1 .weather1-title{
    color: #1167d6;
}

/*搜索*/
.weather1 .form-horizontal .form-group .control-label1{
    color: #ffffff;
    text-align: left;
    float: left;
    margin-left: 16px;
}
.weather1 .form-horizontal .form-group .control-label2{
    color: #ffffff;
    text-align: left;
    float: left;
    margin-left: 16px;
    margin-right: 10px;
}

.weather1 .right-btnx{
    float: right;
}

.weather1 .right-btnx .btn-add{

}
.weather1 .right-btnx .btn-play{
    margin-right: 100px;
}



.weather1 .weather1-title2{
    padding-top: 20px;
}

.weather1 .weather1-title2 .form-title1{
}
.weather1 .weather1-title2 .title2-btn{
}
.weather1 .form-title1 .btn-search1{
    width: 100px;
    background-color: #013684;
    color: #fff;border: none;
}

.weather1  .btn-add{
    width: 100px;
    background-color: #0087e3;
    color: #ffffff;
    border: none;
}

.weather1  .btn-play{
    width: 100px;
    background-color: #23a1d1;
    color: #ffffff;
    border: none;
}

.weather1  .btn-edit{
    width: 100px;
    background-color: #259fd0;
    color: #ffffff;
    border: none;
}
.weather1  .btn-delete{
    width: 100px;
    background-color: #ea8501;
    color: #ffffff;
    border: none;
}

.weather1 .modal-title {
    text-align: center;
    margin: 0;
    line-height: 1.42857143;
}


.weather1  .fabuping01{
    float: right;
   /* text-align: right;*/
    margin-right: 100px;
}

.weather1  .fabuping01 #delModal .modal-body{
    text-align: left;

}
/*表格栏*/
.weather1-cont{
    width: 1520px;
    height: 610px;
}
.weather1-cont .table{
    text-align: center;
}

.weather1-cont .table thead tr th{
    text-align: center;
    background-color: #ffffff;
}

.weather1-cont .table tbody{
    z-index: 999;
    background-color: #ffffff;
}
.weather1-cont .table tbody tr td .btn-delete {
    width: 60px;
    height: 26px;
    background-color: #e38200;
    color: #fff;
}
.weather1-cont .table tbody tr td img{
    width: 80px;
    height: 26px;
}

/*分页*/
.weather1-footer{
    padding-right: 150px;
}
.weather1-footer .paging{
    color: #005ddb;
    float: right;
    line-height: 36px;
    margin-right: 10px;
}

.weather1-footer .pager1{
    width: 60px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #012d6a;
    border-radius: 4px;
    color: #005ddb;
    float: right;
    margin-right: 10px;
    text-decoration: none;
}


.weather1 .fileup{
    float: left;
    width: 40%;
    padding-top: 0px;
}

.weather1 .fileup label{
    float: left;
    color: #000000;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.weather1 .fileup .fileup-box{
    margin: 60px auto;


}
.weather1 .fileup .fileup-box label{
    margin-right: 30px;
    margin-left: 60px;
    font-size: 16px;
    line-height: 30px;
}
.weather1 .fileup .fileup-box input{
    font-size: 16px;
    width: 80px;
}
.weather1 .fileup .fileup-btn button{
    width: 100px;

}

.weather1 .fileup .fileup-btn .fileup-btn-go{
    background-color: #25a5d4;
    color: #ffffff;
}

.modal-header{
    color: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: -webkit-linear-gradient(#01419b, #012861); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#01419b, #012861); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#01419b, #012861); /* Firefox 3.6 - 15 */
    background: -ms-linear-gradient(#01419b, #012861); /* Firefox 3.6 - 15 */
    background: linear-gradient(#01419b, #012861); /* 标准的语法 */
}
.modal-header button{
    color: #ffffff;
}



/*定时控制*/
.weather1 .weather1-title2 .dingshi-form{
    float: left;
    width: 70%;
}
.weather1 .fabu-cont .diangshibtn-delete{
    margin-top: 30px;
}

