<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>视频监控系统</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/camera.css">
   <!-- <link rel="stylesheet" href="../css/weather.css">-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
	<style>
	</style>
</head>
<body class="camera weather">
<!--头部-->
<header class="weather-header">
	<h2>视频监控系统</h2>
	<ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                <span class="glyphicon glyphicon-facetime-video"></span> 摄像头
            </a>
        <li><a href="#look" data-toggle="tab"> <span class="glyphicon glyphicon-th-large"></span> 主预览</a>
    </ul>
	<!--<div class="user">
		<img class="userimg" src="../img/user.jpg" alt="用户头像"/>

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">user1
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">系统设置</a>
				</li>
				<li>
					<a href="#">用户管理</a>
				</li>
			</ul>
		</div>
		<button class="signOut">退出</button>


	</div>-->
</header>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active  col-md-12" id="home">
				<div class="container">

					<!--查询部分-->
					<form class="form-inline">
						<fieldset class="camera-search">
							<div class="form-group col-sm-3" >
								<label for="title-name" >名称</label>
								<input type="text" class="form-control" id="title-name" placeholder="请输入关键字">
							</div>
							<button type="button" class="btn btn-primary camera-btn01" onclick="getTableData('begin')">搜索</button>
						</fieldset>
					</form>
					<!--添加删除部分-->
					<div class="camera-button">
						<button class="btn btn-primary camera-btn02" id="add" data-toggle="modal" data-target="#myModal">添加</button>
						<!--添加页面模态弹出框-->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">添加摄像头信息</h4>
									</div>
									<div class="modal-body">
										<form class="form-horizontal" id="saveFrom">
											<div class="form-group">
												<label for="num" class="col-sm-4 control-label">设备名称</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="num"  placeholder="请填写名称"/>
												</div>
											</div>
											<div class="form-group">
												<label for="name" class="col-sm-4 control-label">设备类型</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="name"  placeholder="请填写类型"/>
												</div>
											</div>
											<div class="form-group">
												<label for="view" class="col-sm-4 control-label">IP</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="view"  placeholder="请填写IP"/>
												</div>
											</div>
											<div class="form-group">
												<label for="port" class="col-sm-4 control-label">端口</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="port"  placeholder="请填写端口"/>
												</div>
											</div>
											<div class="form-group">
												<label for="username" class="col-sm-4 control-label">用户名</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="username"  placeholder="请填写用户名"/>
												</div>
											</div>
											<div class="form-group">
												<label for="password" class="col-sm-4 control-label">密码</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="password"  placeholder="请填写密码"/>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary">提交</button>
										<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--列表部分-->
					<div class="table-responsive camera-table">
						<table  class="table table-hover">
							<thead class="theader">
							<tr>
								<th></th>
								<th>设备名称</th>
								<th>设备类型</th>
								<th>IP</th>
								<th>端口</th>
								<th>用户名</th>
								<th>密码</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<tr>

								<td><input type="checkbox"/></td>
								<td>办公监控</td>
								<td>hivision</td>
								<td>127.0.0.1</td>
								<td>8080</td>
								<td>admin</td>
								<td>123456</td>
								<td>
									<button class="btn btn-mini btn-info" data-toggle="modal" data-target="#editModal">编辑</button>
									<button class="btn btn-mini btn-warning" data-toggle="modal" data-target="#delModal">删除</button>
								</td>
							</tr>
							<tr>

								<td><input type="checkbox"/></td>
								<td>办公监控</td>
								<td>hivision</td>
								<td>127.0.0.1</td>
								<td>8080</td>
								<td>admin</td>
								<td>123456</td>
								<td>
									<button class="btn btn-mini btn-info" data-toggle="modal" data-target="#editModal">编辑</button>
									<button class="btn btn-mini btn-warning" data-toggle="modal" data-target="#delModal">删除</button>
								</td>
							</tr>
							<tr>

								<td><input type="checkbox"/></td>
								<td>办公监控</td>
								<td>hivision</td>
								<td>127.0.0.1</td>
								<td>8080</td>
								<td>admin</td>
								<td>123456</td>
								<td>
									<button class="btn btn-mini btn-info" data-toggle="modal" data-target="#editModal">编辑</button>
									<button class="btn btn-mini btn-warning" data-toggle="modal" data-target="#delModal">删除</button>
								</td>
							</tr>

							</tbody>

						</table>
					</div>

					<!--编辑页面模态弹出框-->
					<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">添加摄像头信息</h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal" id="saveFrom">
										<div class="form-group">
											<label for="num" class="col-sm-4 control-label">设备名称</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="num"  placeholder="请填写名称"/>
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-sm-4 control-label">设备类型</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="name"  placeholder="请填写类型"/>
											</div>
										</div>
										<div class="form-group">
											<label for="view" class="col-sm-4 control-label">IP</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="view"  placeholder="请填写IP"/>
											</div>
										</div>
										<div class="form-group">
											<label for="port" class="col-sm-4 control-label">端口</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="port"  placeholder="请填写端口"/>
											</div>
										</div>
										<div class="form-group">
											<label for="username" class="col-sm-4 control-label">用户名</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="username"  placeholder="请填写用户名"/>
											</div>
										</div>
										<div class="form-group">
											<label for="password" class="col-sm-4 control-label">密码</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="password"  placeholder="请填写密码"/>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary">提交</button>
									<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
					<!--编辑页面模态弹出框-->
					<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">提示信息</h4>
								</div>
								<div class="modal-body">
									你确定要删除此内容内容吗？
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary">提交</button>
									<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>

					<div class="weather1-footer">
						<a href="#" class="pager1">上一页</a>
						<a href="#" class="pager1">下一页</a>
						<span class="paging">第1页/共5页</span>
					</div>


				</div>

				</div>

			<div class="tab-pane fade col-md-12" id="look">
				<div class="row">
					<div class="panel-group col-sm-2" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   href="#collapseOne" class="ctrl-click">
										<span class="glyphicon glyphicon-th-large"></span>默认视图
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<ul class="nav nav-tabs nav-stacked" role="tablist" id="nav-tabs1">
			<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="home" role="tab" data-toggle="tab">画面0</a></li>
			<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面1</a></li>
			<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面2</a></li>
			<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面3</a></li>
			<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面4</a></li>
									</ul>

									<!-- <ul>
                                            <li></li>
                                            <li>发布屏控制</li>
                                        </ul>-->
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   href="#collapseTwo" class="ctrl-click">
										<span class="glyphicon glyphicon-folder-open"></span>DVR71
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="nav nav-tabs nav-stacked" role="tablist" id="nav-tabs2">
						<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="home" role="tab" data-toggle="tab">画面0</a></li>
						<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面1</a></li>
						<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面2</a></li>
						<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面3</a></li>
						<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面4</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   href="#collapseFour" class="ctrl-click">
										<span class="glyphicon glyphicon-folder-open"></span>DVR88
									</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="nav nav-tabs nav-stacked" role="tablist" id="nav-tabs4">
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="home" role="tab" data-toggle="tab">画面0</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面1</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面2</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面3</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面4</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   href="#collapseThree" class="ctrl-click">
										<span class="glyphicon glyphicon-folder-open"></span>智能球
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="nav nav-tabs nav-stacked" role="tablist" id="nav-tabs3">
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="home" role="tab" data-toggle="tab">画面0</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面1</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面2</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面3</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面4</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   href="#collapseFive" class="ctrl-click">
										<span class="glyphicon glyphicon-folder-open"></span>摄像头
									</a>
								</h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="nav nav-tabs nav-stacked" role="tablist" id="nav-tabs5">
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="home" role="tab" data-toggle="tab">画面0</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面1</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面2</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面3</a></li>
										<li role="presentation" class="zhanghu-list"><span></span><a href="#" aria-controls="profile" role="tab" data-toggle="tab">画面4</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<iframe src="camera1.html" class="col-sm-10 iframex" name="home1" id="Iframe" height="810px" frameborder="0" scrolling="no"></iframe>
				</div>

			</div>
		</div>



<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script>

	var navTtabs=$(".panel-body .nav-tabs li")
	for(var i=0;i<navTtabs.length;i++){
		$(".panel-body .nav-tabs li")[i].index = i;
		$(".panel-body .nav-tabs li")[i].onclick=function(){//点击连接触发
			var j=this.index+1;
			$("#Iframe").attr("src","camera"+j+".html");
			/*iframe的高度自适应*/
			/* var ifm= document.getElementById("Iframe");
			 ifm.height=document.documentElement.clientHeight;*/
		}
	}

</script>
</body>
</html>