<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>视频监控系统</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/camera.css">
   <!-- <link rel="stylesheet" href="../css/weather.css">-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
	<style>
	</style>
</head>
<body class="camera1">
<!--头部-->
<section class="camera-right">
	<div class="imgs row">
		<img class="video col-sm-6" src="../img/video01.jpg" alt="监控视频"/>
		<img class="video col-sm-6" src="../img/video02.jpg" alt="监控视频"/>
		<img class="video col-sm-6" src="../img/video03.jpg" alt="监控视频"/>
		<img class="video col-sm-6" src="../img/video04.jpg" alt="监控视频"/>
	</div>
    <div class="cont-botom">
        <div class="cont-botom-left">
            <button class="left01"></button>
            <button class="left02"></button>
            <button class="left03"></button>
        </div>
        <div class="cont-botom-right">
            <button class="right01"></button>
            <button class="right02"></button>
            <button class="right03"></button>
            <button class="right04"></button>
            <button class="right05"></button>
        </div>

    </div>
	



</section>




<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>