<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>环境监控系统-发布屏管理</title>
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/weather1.css">
    <link rel="stylesheet" href="../css/weather2.css"/>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
	<style>
	</style>
</head>
<body class="weather1">





<section>
    <h4 class="weather1-title">德夯景区>发布屏管理</h4>

    <div class="fabu-cont">

    <div class="col-lg-offset-2 checkbox-all">
        <div class="easyui-panel">
            <ul id="tt" class="easyui-tree" data-options="url:'tree_data.json01',method:'get',animate:true,checkbox:true"></ul>
        </div>
    </div>

    <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="firstname01" class="col-sm-3 control-label">LED亮度</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="firstname01" placeholder="1-100">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btn-post">发送</button>
                </div>
            </div>

        <div class="form-group">
            <label for="firstname0２" class="col-sm-3 control-label">开关屏控制</label>
            <div class="col-sm-7">
                <select class="form-control">
                    <option>开屏</option>
                    <option>关屏</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default btn-post">发送</button>
            </div>
        </div>

        <div class="form-group">
            <label for="firstname0３" class="col-sm-3 control-label">音量等级</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" id="firstname0３" placeholder="1-100">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default btn-post">发送</button>
            </div>
        </div>


            <div class="form-group">
                <label for="firstname04" class="col-sm-3 control-label">操作结果信息</label>
                <div class="col-sm-9">
                    <textarea name="biaoyu-text" class="form-control" id="" cols="30" rows="8" maxlength="50"></textarea>
                </div>

            </div>
        </form>

    </div>





</section>


<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>
</body>
</html>