<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>智慧旅游综合监管平台</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
	<style>  
		body{  
		margin-left:auto;  
		margin-right:auto; 
		margin-TOP:300PX; 
		width:20em;  
		background-image:url("../img/background-login.jpg");
		}

	</style>
</head>
<body>
<!--头部-->

<section class="login">
    <div class="bgimg">
    </div>
    <div class="login-box"id="login-box">
        <form id="loginForm" action="" method="post">
		<span class="glyphicon glyphicon-camera camera-img"></span>
            <div class="input-group">
				<span class="input-group-addon login-glyspan"><i class="glyphicon glyphicon-user login-img"> </i></span>
                <input type="text" class="form-control login-input"  name="username" id="username"  placeholder="用户名">
				</input>
            </div>
            <div class="input-group">
				<span class="input-group-addon login-glyspan" style="font-size:30px"><i class="glyphicon glyphicon-lock login-img"> </i></span>
                <input type="password" class="form-control login-input"  name="password" id="password"  placeholder="密码">
				</input>
            </div>
            <button type="button" id="loginButton" class="login-button">登录</button>
           
        </form>
    </div>




</section>

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>