<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>环境监控系统-发布屏管理</title>
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/weather1.css">
    <link rel="stylesheet" href="../css/weather2.css"/>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
	<style>
	</style>
</head>
<body class="weather1">





<section>
    <h4 class="weather1-title">德夯景区>发布屏管理</h4>

    <div class="fabu-cont">

    <div class="col-lg-offset-2 checkbox-all">
        <div class="easyui-panel">
            <ul id="tt" class="easyui-tree" data-options="url:'tree_data.json',method:'get',animate:true,checkbox:true"></ul>
        </div>
    </div>

    <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="firstname01" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="firstname01" placeholder="请输入名字">
                </div>
                <span class="col-sm-2 form-prompt">*(20)</span>
            </div>
            <div class="form-group">
                <label for="firstname02" class="col-sm-2 control-label">标语内容</label>
                <div class="col-sm-8">
                    <textarea name="biaoyu-text" class="form-control" id="" cols="30" rows="4"></textarea>
                </div>
                <span class="col-sm-2 form-prompt01">*(50)</span>
            </div>
            <div class="form-group">
                <label for="firstname03" class="col-sm-2 control-label">显示方式</label>
                <div class="col-sm-8">
                    <select class="form-control">
                        <option>直接显示</option>
                        <option>上移显示</option>
                        <option>下移显示</option>
                        <option>左移显示</option>
                        <option>右移显示</option>
                    </select>
                </div>
                <span class="col-sm-2 form-prompt"></span>
            </div>
            <div class="form-group">
                <label for="firstname04" class="col-sm-2 control-label">字体大小</label>
                <div class="col-sm-8">
                    <select class="form-control">
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                        <option>24</option>
                        <option>28</option>
                        <option>32</option>
                        <option>36</option>
                        <option>40</option>
                        <option>44</option>
                        <option>48</option>
                    </select>
                </div>
                <span class="col-sm-2 form-prompt">*(20)</span>
            </div>

           <div class="form-group">
               <label for="firstname05" class="col-sm-2 control-label">字体类型</label>
               <div class="col-sm-8">
                   <select class="form-control">
                       <option>宋体</option>
                       <option>仿宋</option>
                       <option>黑体</option>
                       <option>楷体</option>
                   </select>
               </div>
               <span class="col-sm-2 form-prompt"></span>
           </div>
           <div class="form-group">
               <label for="firstname06" class="col-sm-2 control-label">字体颜色</label>
               <div class="col-sm-8">
                   <select class="form-control">
                       <option>红</option>
                       <option>黄</option>
                       <option>绿</option>
                       <option>蓝</option>
                       <option>白</option>
                   </select>
               </div>
               <span class="col-sm-2 form-prompt"></span>
           </div>
        <div class="form-group">
            <label for="firstname07" class="col-sm-2 control-label">停留时间</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="firstname07" placeholder="5">
            </div>
            <span class="col-sm-2 form-prompt">(0~255)</span>
        </div>
        <div class="form-group">
            <label for="firstname08" class="col-sm-2 control-label">移动速度</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="firstname08" placeholder="5">
            </div>
            <span class="col-sm-2 form-prompt">(0~255)</span>
        </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-play col-sm-offset-3">播放</button>
                </div>
            </div>
        </form>

    </div>





</section>


<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>

</body>
</html>